*{
  margin: 0px;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
  background-size: 100% 100%;
  height: 100%;
   font-family: 'Tapestry', cursive;
}

div.scrollmenu a:hover {
  background-color: #777;
}

.texto-inicial{
  font-size:20px;
  text-align: center;
  background-size: cover;
 
}

img{
  
  border: solid 10px black;
  width: 85%;
  position: relative;
  margin: auto;
  height: 600px;

}

.container{
width: 100%;
display: none;
}


.regresar, .siguiente {
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: 10px;
  margin-top: -22px;
  padding: 15px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.siguiente {
  right: 0;
  border-radius: 3px 0 0 3px;
  left: 86%;
}

.regresar{
  right: 87%;
}

.regresar:hover, .siguiente:hover {
  background-color: rgba(38, 0, 255, 0.8);
}


.texto {
  color: #ecf3ff;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  top: 500px;
  font-family: 'Tapestry', cursive;
}

.numeroDeTexto {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.hot{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0,2s ease;
}


.active, .hot:hover {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


#BARRA a {
  left: -80px; 
  transition: 0.2s; 
  height: 55px;
  padding: 15px;
  width: 100px; 
  text-decoration: none; 
  font-size: 20px; 
  color: white;
  border-radius: 0 5px 5px 0; 
  text-align: center;
  position: fixed;
  z-index: 10;
}

#BARRA a:hover {
  left: 0; 
}
#INICIO{
  top: 20px;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  border: solid black 1px;
}


#ISLAS {
  top: 85px;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  border: solid black 1px;
}

#VIDEO {
  top: 146px;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  border: solid black 1px; 
}

#CONTACTOS {
  top: 206px;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  border: solid black 1px;
}
.ISLAS{
  text-align: center;
  font-size: 20px;
  font-family: 'Tapestry', cursive;
}

.imagen-1 img{
  width: 50%;
  float: left;
  height: 10%;
  margin-right: 50px;
  border-bottom: 110px;
  border-radius: 60%;
  border: 2px solid  #82cbd6
}
.imagen-1 p{
  text-align: center;
  font-size: 20px;
  border-radius: 100px;
  margin-bottom: 70px;
}

.imagen-2 img{
  width: 50%;
  float: left;
  height: 10%;
  margin-right: 50px;
  border-radius: 60%;
  border: 2px solid  #82cbd6
}
.imagen-2 p{
  text-align: center;
  font-size: 20px;
  margin-bottom: 90px;
}

.imagen-3 img{
  width: 50%;
  float: left;
  height: 10%;
  margin-right: 50px;
  border: 2px solid  #82cbd6
}
.imagen-3 p{
  text-align: center;
  font-size: 20px;
  color: black;
  height: auto;

}

h2{
  font-size: 30px;
  text-align: center;
}

.numero1{
  display: inline-block;
  width: 30px;
  font-weight: 300px;
  line-height: 30px;
  text-align: center;
  font-size: 30px;
  border-radius: 50px;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  margin-right: 20px;

}

.titulos{
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  font-size: 30px;
  border-radius: 30px;
  line-height: 30px;
  text-align: center;
}

.numero2{
  display: inline-block;
  width: 30px;
  font-weight: 300px;
  line-height: 30px;
  text-align: center;
  font-size: 30px;
  border-radius: 50px;
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
  margin-right: 20px;
}

.numero3{
  display: inline-block;
  width: 30px;
  font-weight: 300px;
  line-height: 30px;
  text-align: center;
  font-size: 30px;
  border-radius: 50px;
  background-image: linear-gradient(-20deg, #dcb0ed 0%, #99c99c 100%);}
  

  .links{
    font-size: 20px;
    color: black;
    font-style: none;
    text-decoration: none;
  }

  .texto-4{
    text-align: center;
  }

  video{
    width: 50%;
    font-size: 30px;
    
  }

  .video-1{
    border: solid 10px black;
  }
  
  p{
    color: rgb(0, 0, 0);
  }

  footer{
   
    padding: 55px;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  }

  .footer1{
    font-size: 20px;
    padding: 40px;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  }

  .footer2{
    top: 206px;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    border: solid black 1px;
    font-size: 40px;
    cursor: pointer;
  }
  

